.services{
    width:100%;
    height:1600px;
    padding-top:100px;
}

.Bisnesgrid{
    width:100%;
    height:730px;
    grid-gap:20px;
    margin-top:20px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
}
.Bisnesgrid .grid{
    border:1px solid #E5E5E5;
    height:360px;
    border-radius:40px;
    height:365px;
}
.Bisnesgrid .grid:hover{
    background-color:#545EE1;
    color:white;
    box-shadow:0 4px 35px 0 #545EE18C;
}

.Bisnesgrid .grid .icon{
    width:80px;
    height: 80px;
    background-color:#bbbffe;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    margin:50px auto;
}

.Bisnesgrid .grid img{
    width:41px;
    height:41px;
}
.Bisnesgrid .grid h1,p{
    text-align: center;
    padding:0px 20px;
}
.Build{
    
    width:100%;
    margin-top:100px;
    display: flex;
    height:818px;
}
.Build .Buildtext{
    width:100%;
    display: flex;
}
.Build img{
    width:60%;
    height:60%;

}
.Build .textdion .ico{
  display:flex;
  width:100%;
  padding-top:60px;
  
}