.Ourprojects{
    width:100%;
    height:auto;
}
.Ourprojects .project{
    width:1120px;
    padding-top:20px;
    height:1156px;
}
.Ourprojects .project h1{
    text-align:center;
}
.Ourprojects .project ul{
    display: flex;
    list-style:none;
    gap:30px;
    margin-left:41%;
    padding-top:10px;
}
ul a{
    text-decoration:none;
    color:black;
}
.imgs{
    padding-top:10px;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr ;
    grid-gap:20px;
}
.imgs .img{
    width:100%;
    margin:0px auto;
    height:300px;
    
}
.imgs .img:nth-child(2){
    width:360px;
    margin-left:0px;
    height:443px;

}
.imgs .img:nth-child(1){
    width:740px;
    margin-left:0;
    height:443px;

}
.imgs .img:nth-child(3){
    margin-left:0px;
    width:360px;
    height:443px;
}
.imgs .img:nth-child(4){
    width:740px;
    height: 443px;
    margin-left:-380px;
}