.header{
    background-color:#545EE1;
    width:100%;
    height: 80px;
    padding:20px;
    transition: 0.1s all;
    
}
.headlength{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headlength ul{
    display: flex;
    gap:40px;
    align-items: center;
    
    list-style:none;
}
.headlength ul a{
    text-decoration:none;
    color:white;
}
.arrow-icon {
    margin-left: 0.5rem; 
    height: 1rem;       
    width: 1rem;        
  }
  
  .content {
    padding-top: 0.25rem;   
    padding-bottom: 0.25rem;
    outline: none;          
  }
  
  .floating {
    z-index: 10;
    width: fit-content;
    border-radius: 0.25rem;  
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
    outline: none;          
  }
  
  .floating.animation {
    transition: opacity 0.2s; 
  }
  
  .floating.arrow.base {
    position: absolute;
    z-index: 10;
    height: 0.5rem; 
    width: 0.5rem;  
    transform: rotate(45deg); 
  }
  
  .floating.arrow.dark {
    background-color: #1f2937; 
  }
  
  .floating.arrow.dark .dark {
    background-color: #374151; 
  }
  
  .floating.arrow.light {
    background-color: #ffffff; 
  }
  
  .floating.arrow.auto {
    background-color: #ffffff; 
  }
  
  .floating.arrow.auto.dark {
    background-color: #374151;
  }
  
  .floating.arrow.placement {
    margin-top: -4px;
  }
  
  .floating.content {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.875rem;     
    color: #374151;          
  }
  
  .floating.content.dark {
    color: #e5e7eb;          
  }
  
  .floating.divider {
    margin: 0.25rem 0;     
    height: 1px;            
    background-color: #f3f4f6; 
  }
  
  .floating.divider.dark {
    background-color: #4b5563; 
  }
  
  .floating.header {
    display: block;
    padding: 0.5rem 1rem;  
    font-size: 0.875rem;
    color: #374151;        
  }
  
  .floating.header.dark {
    color: #e5e7eb;        
  }
  
  .floating.hidden {
    visibility: hidden;
    opacity: 0;
  }
  
  .floating.item.base {
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1rem;  
    font-size: 0.875rem;
    color: #374151;        
  }
  
  .floating.item.base:hover {
    background-color: #f3f4f6; 
  }
  
  .floating.item.base:focus {
    background-color: #f3f4f6;
    outline: none;
  }
  
  .floating.item.base.dark {
    color: #e5e7eb;           
  }
  
  .floating.item.base.dark:hover {
    background-color: #4b5563; 
    color: #ffffff;            
  }
  
  .floating.item.base.dark:focus {
    background-color: #4b5563;
    color: #ffffff;
  }
  
  .floating.item.icon {
    margin-right: 0.5rem; 
    height: 1rem;
    width: 1rem;
  }
  
  .floating.style.dark {
    background-color: #1f2937;
    color: #ffffff;
  }
  
  .floating.style.dark .dark {
    background-color: #374151;
  }
  
  .floating.style.light {
    border: 1px solid #e5e7eb; 
    background-color: #ffffff;
    color: #111827;            
  }
  
  .floating.style.auto {
    border: 1px solid #e5e7eb;
    background-color: #ffffff;
    color: #111827;
  }
  
  .floating.style.auto.dark {
    border: none;
    background-color: #374151;
    color: #ffffff;
  }
  
  .floating.target {
    width: fit-content;
  }
  
  .inline-wrapper {
    display: flex;
    align-items: center;
  }
  .telb1{
    height:40px;
    width:100%;
    border-radius:20px;
    background-color:black;
    color:white;
  }
  .telb2{
    background-color: #111827;
    color:white;
    width:120px;
    list-style:none;
    border-radius:10px;
    text-decoration: none;
  }
  .linkd{
    text-decoration:none;
    border-bottom:1px solid gray;
    list-style:none;
    height:40px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .user{
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    border-radius:50%;
  }
  .user 