.Main{
    width:100%;
    height:800px;
    background-color:#545EE1;
}
.maintext{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.maintext img{
    width:530px;
    height: 457px;
}
.maintext .text p{
    padding:20px 0px;
    color:white;
    font-size:20px;
}
.maintext .text .mainbutton{
  display: flex;
  gap:40px;
  
}
.maintext .text .mainbutton button{
    width:265px;
    height:75px;
    border:none;
    outline:none;
  border-radius:20px;
   font-size:24px;
}
.maintext .text .mainbutton button:nth-child(2){
    background:none;
    display: flex;
    align-items: center;
    gap:8px;
}
