*{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.cent{
    width:75%;
    margin:0px auto;
    align-items: center;
    height:100%;
   transition: 0.3s all;
}
.gap-container {
    gap: 20px;
  }